.title {
    border-bottom: 20px, solid ,black;
}
form {
    background-color:#F5F5F5;
    padding: 3%;
}
form .head {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2%;
}

.save-btn {
    background-color: #463FF1;
    color: #ffffff;
    border: none;
    padding: 5px 20px;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 5px;
}

.image-icon {
    margin-left: 3%;
    border-bottom: 10px, solid, black;
}

p {
    font-size: 80%;
}

.field i {
    font-size: 100%;
    margin-right: 1%;
}

.field input {
    background-color: #CCCCCC;
    border: none;
    border-radius: 5px;
    padding: 13px 200px;
    text-align: left;
}

#lname {
    margin-left: 3%;
}

#phone{
    padding: 13px 200px;
}

::placeholder {
    color: rgba(0, 0, 0, 0.803);
    text-align: left;
}