.header1 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2%;
}

.buttons1 .edit-btn{
    background-color: #463FF1;
    border: none;
    color: white;
    padding: 5px 20px;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 5px;
    text-decoration: none;
}

.buttons1 .del-btn {
    color: #111111;
    padding-bottom: -10px;
    font-size: large;
}
.image-icon1 {
    margin-left: 10%;
    margin-bottom: 2%;
}

.names1 {
    font-weight: bolder;
    font-size: larger;
    padding-bottom: -20px;
}

.division {
    border-bottom: 1px solid #CCCCCC;
    padding-top: 10px;
}

h4 {    
    padding-top: 10px;
}

.details {
    background-color: #DEDEFF;
    border-radius: 10px;
    margin-right: 70%;
    padding-left: 1%;
}

.details i {
    padding-right: 5px;
}

.buttons1 {
    display: inline-flex;
    gap: 20px;
}
